body {
   margin: 0;
   font-family: sans-serif;
   color: #000000;
   background-color: rgb(255, 255, 255);
}

header {
   background-image: linear-gradient(to right, #11AC70, #0B566F, #0B516F);
   border: 1px solid black;
   text-align: center;

   p {
      margin: 0;
   }
}

nav {
   margin: 10px 0;
   border-bottom: 1px solid #c2c2c2;

   a {
      text-decoration: none;
   }
}

header,
nav {
   padding: 10px 0;
   text-align: center;
}

main {
   align-content: center;

   .card {
      border: 1px solid black;
      margin: 10px 25px;
      border-radius: 10px;
      max-width: 60%;
      margin: 15px auto;
      padding: 10px;
   }
}
